# Smart Contract Addresses (Deployed on Soroban Testnet)
NEXT_PUBLIC_REGISTRY_CONTRACT_ID=
NEXT_PUBLIC_TREASURY_CONTRACT_ID=

# Stellar / Soroban RPC Network Settings
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# IPFS Pinata Configuration (Server-side)
PINATA_JWT=
